# Core AI and Agentic Framework
langchain
langchain-core
langchain-experimental

# LLM, Vector DB, and specific integrations
ollama
langchain-ollama
langchain-chroma
langchain-google-genai
langchain-tavily      # <-- ADD THIS LINE
pysqlite3-binary
tavily-python

# Document Loading
pypdf
langchain-community

# Backend API
fastapi
uvicorn

#Python Whisper Library
whisper-cpp-python

# Utilities
python-dotenv